{% extends 'template.twig'%}
{% block title %}FlowDesign blog{% endblock %}
{% block content %}

<body id="page-top">

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="public/img/profile.png" alt="">
      <h1 class="text-uppercase mb-0">Florian BROUARD</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">Développeur PHP/Symfony | Sublimez votre site web !</h2>
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="portfolio">
    <div class="container text-center">
      <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <a class="d-block mx-auto" target="_blank" href="https://madurba.github.io/P1Film_OC/index.html">
            <p>
              <img class="img-fluid img-thumbnail" src="public/img/portfolio/festival_film.png" alt="">
            </p>
          </a>
        </div>
        <div class="col-md-6 col-lg-6 text-center">
          <a class=" d-block mx-auto" target="_blank" href="https://madurba.github.io/landing_reevols_life.change/index.html">
            <p>
              <img class="img-fluid img-thumbnail" src="public/img/portfolio/landing_reevols.png" alt="">
            </p>
          </a>
        </div>
        <div class="col-md-6 col-lg-6">
          <a class=" mx-auto" target="_blank" href="#">
            <p>
              <img class="img-fluid img-thumbnail" src="public/img/portfolio/dashbord_reevols.png" alt="">
            </p>
          </a>
        </div>
        <div class="col-md-6 col-lg-6">
          <a class=" d-block mx-auto" target="_blank" href="https://madurba.github.io/cv/">
            <p>
              <img class="img-fluid img-thumbnail" src="public/img/portfolio/cv_florian_brouard.png" alt="">
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">A Propos de moi</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-6 ml-auto">
          <p class="lead">Intrigé depuis l'enfance par l'outil informatique, j'aime participer activement à l'essors de cet univers passionant.<br />
            Autodidacte, je me suis formé sur des plateformes tel que Udemy, TheOdinProject, GrafikArt, Youtube...<br />
          </p>
        </div>
        <div class="col-lg-6 mr-auto">
          <p class="lead ">J'ai intégré des formations professionnalisantes, pour structurer mes acquis. TheHackingProject et <a target="_blank" class="text-white" href="https://openclassrooms.com/paths/59-developpeur-dapplication-php-symfony">Openclassrooms</a> entre autre.<br />
            J'étudie actuellement le parcours Développeur d'application PHP/SYMFONY.</p>
        </div>
      </div>
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="/cv">
          <i class="fas fa-download mr-2"></i>
          Mon CV en PDF !
        </a>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Me contater</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">

          <form action="/contactform" method="post">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Nom</label>
                <input class="form-control" type="text" placeholder="Nom" name="nom" required="required"
                  data-validation-required-message="Veuillez entrer votre nom">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Prénom</label>
                <input class="form-control" type="text" placeholder="Prenom" name="prenom" required="required"
                  data-validation-required-message="Veuillez entrer votre prenom.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email</label>
                <input class="form-control" type="email" name="email" placeholder="Email" required="required"
                  data-validation-required-message="Veuillez entrer votre adresse email.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Message</label>
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required="required"
                  data-validation-required-message="Veuillez entrer votre message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl">Envoyer</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>
  {% endblock %}
